/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-buyershopbg1 {
  background-image: url(personcentersprites.png);
  background-position: -275px -649px;
  width: 126px;
  height: 95px;
}
.icon-buyershopbg10 {
  background-image: url(personcentersprites.png);
  background-position: -285px -1104px;
  width: 136px;
  height: 75px;
}
.icon-buyershopbg2 {
  background-image: url(personcentersprites.png);
  background-position: -285px -403px;
  width: 136px;
  height: 95px;
}
.icon-buyershopbg3 {
  background-image: url(personcentersprites.png);
  background-position: -551px -649px;
  width: 126px;
  height: 95px;
}
.icon-buyershopbg4 {
  background-image: url(personcentersprites.png);
  background-position: -790px 0px;
  width: 136px;
  height: 95px;
}
.icon-buyershopbg5 {
  background-image: url(personcentersprites.png);
  background-position: -1076px 0px;
  width: 125px;
  height: 95px;
}
.icon-buyershopbg6 {
  background-image: url(personcentersprites.png);
  background-position: -790px -245px;
  width: 136px;
  height: 95px;
}
.icon-buyershopbg7 {
  background-image: url(personcentersprites.png);
  background-position: 0px -649px;
  width: 125px;
  height: 96px;
}
.icon-buyershopbg8 {
  background-image: url(personcentersprites.png);
  background-position: 0px -403px;
  width: 135px;
  height: 96px;
}
.icon-buyershopbg9 {
  background-image: url(personcentersprites.png);
  background-position: 0px -1104px;
  width: 135px;
  height: 76px;
}
.icon-customerservicebg1 {
  background-image: url(personcentersprites.png);
  background-position: -311px -895px;
  width: 160px;
  height: 59px;
}
.icon-customerservicebg2 {
  background-image: url(personcentersprites.png);
  background-position: -621px -895px;
  width: 160px;
  height: 59px;
}
.icon-customerservicebg3 {
  background-image: url(personcentersprites.png);
  background-position: -931px -895px;
  width: 159px;
  height: 59px;
}
.icon-customerservicebg4 {
  background-image: url(personcentersprites.png);
  background-position: 0px -895px;
  width: 161px;
  height: 59px;
}
.icon-myorderbg {
  background-image: url(personcentersprites.png);
  background-position: -1076px -245px;
  width: 77px;
  height: 66px;
}
.icon-myorderbgs {
  background-image: url(personcentersprites.png);
  background-position: -1076px -461px;
  width: 77px;
  height: 65px;
}
.icon-newpersonbanner {
  background-image: url(personcentersprites.png);
  background-position: 0px 0px;
  width: 640px;
  height: 253px;
}
