/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-chachas {
  background-image: url(sprites.png);
  background-position: 0px -454px;
  width: 105px;
  height: 119px;
}
.icon-customservice {
  background-image: url(sprites.png);
  background-position: -125px -454px;
  width: 82px;
  height: 86px;
}
.icon-daogou {
  background-image: url(sprites.png);
  background-position: -227px -454px;
  width: 79px;
  height: 82px;
}
.icon-footerbg1 {
  background-image: url(sprites.png);
  background-position: -410px -593px;
  width: 37px;
  height: 41px;
}
.icon-footerbg11 {
  background-image: url(sprites.png);
  background-position: -294px -593px;
  width: 38px;
  height: 41px;
}
.icon-footerbg2 {
  background-image: url(sprites.png);
  background-position: -236px -593px;
  width: 38px;
  height: 41px;
}
.icon-footerbg22 {
  background-image: url(sprites.png);
  background-position: -352px -593px;
  width: 38px;
  height: 41px;
}
.icon-footerbg3 {
  background-image: url(sprites.png);
  background-position: -120px -593px;
  width: 38px;
  height: 41px;
}
.icon-footerbg33 {
  background-image: url(sprites.png);
  background-position: -178px -593px;
  width: 38px;
  height: 41px;
}
.icon-footerbg4 {
  background-image: url(sprites.png);
  background-position: 0px -593px;
  width: 40px;
  height: 41px;
}
.icon-footerbg44 {
  background-image: url(sprites.png);
  background-position: -60px -593px;
  width: 40px;
  height: 41px;
}
.icon-goodscar {
  background-image: url(sprites.png);
  background-position: -326px -454px;
  width: 79px;
  height: 71px;
}
.icon-hotspot {
  background-image: url(sprites.png);
  background-position: -583px -454px;
  width: 47px;
  height: 41px;
}
.icon-moreselectarror {
  background-image: url(sprites.png);
  background-position: -660px -82px;
  width: 29px;
  height: 20px;
}
.icon-moreselectbg {
  background-image: url(sprites.png);
  background-position: 0px -321px;
  width: 640px;
  height: 113px;
}
.icon-othli3 {
  background-image: url(sprites.png);
  background-position: -504px -454px;
  width: 59px;
  height: 50px;
}
.icon-reaarrow {
  background-image: url(sprites.png);
  background-position: -660px -122px;
  width: 10px;
  height: 16px;
}
.icon-returntops {
  background-image: url(sprites.png);
  background-position: -425px -454px;
  width: 59px;
  height: 59px;
}
.icon-sprites {
  background-image: url(sprites.png);
  background-position: 0px 0px;
  width: 640px;
  height: 301px;
}
.icon-titlehengxian {
  background-image: url(sprites.png);
  background-position: -660px 0px;
  width: 35px;
  height: 62px;
}
