<ul class="footerlab" style="position: relative;">

	<li style="margin: 0 4%; width: 14%; background-size: 45%;">
		<a href="../index.html">首页</a>
	</li>
	<li style="margin: 0 13% 0 1%; width: 14%; background-size: 45%;">
		<a href="../cn/classificationOfGoods.html">分类</a>
	</li>
	<li style="margin: 0 1% 0 13%; width: 14%; background-size: 45%;">
		<em>2</em>
		<a href="http://wx.cheertea.com/cart.html">购物车</a>
	</li>
	<li style="margin: 0 4%; width: 14%; background-size: 45%;">
		 <a href="http://wx.cheertea.com/member_index.html">个人中心</a>
		<!--<a class="personcenter">个人中心</a>-->
	</li>
	<a href="/cn/newgroup.html">
		<div class="ptbg" style="overflow: hidden; position: absolute; top: -.7rem; left: 50%; margin-left: -1rem; width: 2rem; height: 2rem; background: url('http://images.cheertea.com/ptbg.png') 0 0 no-repeat; background-size: 100% 100%; z-index: 1"></div>
		<div class="ptbtn" style="overflow: hidden; position: absolute; top: -.7rem; left: 50%; margin-left: -1rem; width: 2rem; height: 2rem; background: url('http://images.cheertea.com/ptgif1.gif') 0 0 no-repeat; background-size: contain; -webkit-border-radius: 50%; border-radius: 50%; z-index: 10"></div>
	</a>
</ul>