// $imgurl: "../images/";
$imgurl: "http://images.cheertea.com/";

html,body {
    width:100%;
    height:100%;
}
.overseapurchasewrap {
    width:100%;
}
.top {
    width:100%;
    height:90px;
    line-height:90px;
    text-align:center;
}
.top a {
    float:left;
    width:15%;
    height:90px;
    background:url($imgurl + "Lessthansign_02.jpg") 0 0 no-repeat; 
    background-size:contain;
}
.top h2 {
    float:left;
    font-size:32px;
    margin-left:28%;
    color:#1a1a1a;
    line-height:90px;
}
.banner {
    display:block;
    width:100%;
    height:320px;
}
.session {
    width:100%;
}
.session1 {
    width:100%;
}
.ljf-twopatherbox {
        width: 96%;
        margin: 0 auto;
    }
.three-pathcon {
    width: 30%;
    float: left;
    padding: .2rem 1.5%;
    img {
        width: 100%;
        height: 2.8rem;
    }
.three-title {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    width: 100%;
    height: .59rem;
    line-height: .59rem;
    font-size: .25rem;
    color: #000000;
}
.messages {
    float: left;
    width: 75%;
    height: .57rem;
    span {
        float: left;
        font-size: .28rem;
        color: #ff0000;
        em {
            font-size: .41rem;
            color: #ff0000;
        }
    }
    strong {
        display: none;
        float: left;
        padding: .35rem 0 0 .4rem;
        font-size: .22rem;
        color: #595757;
        text-decoration: line-through;
    }
}
.three-price {
    width: 100%;
    height: .35rem;
    line-height: .35rem;
    span {
        font-size: .28rem;
    }
    .newprice {
        float: left;
        height: 100%;
        color: #ff0000;
        strong {
            font-size: .41rem;
        }
    }
    .oldprice {
        float: left;
        height: 100%;
        padding-left: .15rem;
        color: #bdbdbd;
        text-decoration: line-through;
    }
}
}