$imgurl: "../images/";
html,body {
    width:100%;
    height:100%;
}
.Searchshopswrap {
    width:100%;
}
.top {
    width:100%;
    height:90px;
    line-height:90px;
    text-align:center;
}
.top a {
    float:left;
    width:15%;
    height:90px;
    background:url($imgurl + "searchback.png") 0 0 no-repeat; 
    background-size:contain;
}
.top h2 {
    float:left;
    font-size:32px;
    margin-left:28%;
    color:#1a1a1a;
    line-height:90px;
}
.search {
    position:relative;
    width:100%;
    height:80px;
    background-color:#ff5a00;
        em{
        display: block;
        position: absolute;
        top: 17px;
        left: 38px;
        width: 50px;
        height: 50px;
    }
}
.find {
    width:81%;
    height:58px;
    line-height:58px;
    margin-left:5%;
    margin-top:12px;
    padding-left:11%;
    font-size:20px;
    background:url($imgurl + "search-ico.png") 15px 6px no-repeat;
    background-color:#ffffff; 
    border-radius:10px;
}
.nav {
    width:100%;
    height:49px;
    padding-top:27px;
    border-bottom:1px solid #e0e0e0;
}
.nav1 {
    margin-left:16%;
    font-size:24px;
}
.nav2,.nav3 {
    margin-left:12%;
    font-size:24px;
}
.nav3 {
    color:#ff5a00;
}
.mid {
    width:100%;
    height:200px;
    padding-top:30px;
    border-bottom:8px solid #f0f0f0;
}
.news {
    position:relative;
    width:100%;
    height:70px;
}
.logo {
    float:left;
    width:13%;
    height:50px;
    margin-left:3%;
    border:1px solid #e6e6e6;
}
.name {
    float:left;
    font-size:20px;
    margin-left:3%;
    color:#000000;
}
.where {
    float:left;
    width:3%;
    height:24px;
    margin-left:24%;
}
.where img {
    width:100%;
    height:100%;
}
.address {
    float:left;
    font-size:18px;
    margin-left:2%;
    color:#333333;
}
.sale, .sale1 {
    position:absolute;
    font-size:14px;
    color:#5d5d5d;
}
.sale {
    left:20%;
    top:40px;
}
.sale1 {
    left:33%;
    top:40px;
}
.commodity1,.commodity {
    float:left;
    width:18%;
    height:80px;
    margin-top:20px;
    margin-right:5%;
    border:1px solid #ebebeb;
}
.commodity1 {
    margin-left:19%;
}
.more {
    width:36%;
    height:40px;
    line-height:40px;
    margin-left:33%;
    margin-top:120px;
    text-align:center;
    background-color:#f46415;
    border-radius:10px;
    color:#ffffff;
    margin-bottom:100px;
}